<ion-content [fullscreen]="true">

  <section class="content-area home-page">
    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p class="heading">Search by Last</p>
            <ion-segment mode="ios" [scrollable]="true" [value]="filterDate" [(ngModel)]="filterDate" (ionChange)="ChangeFilter($event)">
              <ion-segment-button value="1">
                <h5 class="heading">1 Months</h5>
              </ion-segment-button>
              <ion-segment-button value="3">
                <h5 class="heading">3 Months</h5>
              </ion-segment-button>
              <ion-segment-button value="6">
                <h5 class="heading">6 Months</h5>
              </ion-segment-button>
              <ion-segment-button value="12">
                <h5 class="heading">12 Months</h5>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-segment mode="ios" [scrollable]="true" [value]="SelectedStatus" [(ngModel)]="SelectedStatus" (ionChange)="OnStatusChange($event)">
              <ion-segment-button value="0">
                <h5 class="heading">All Call</h5>
              </ion-segment-button>
              <ion-segment-button value="totalLead">
                <h5 class="heading">Total Lead</h5>
              </ion-segment-button>
              <ion-segment-button value="newLead">
                <h5 class="heading">New Lead</h5>
              </ion-segment-button>
              <ion-segment-button [value]="item.status_id" *ngFor="let item of customerStatus">
                <h5 class="heading">{{item.status_title}}</h5>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-searchbar mode="ios" show-clear-button="focus" [(ngModel)]="searchLead" (ionInput)="onSearchLead($event)" placeholder="Enter name to search"></ion-searchbar>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- <div class="row">
        <div class="checkout-btn right">
          <a class="waves-effect waves-light btn primary-bg lighten-2">Clear All</a>
        </div>
      </div> -->
      <div class="row notification-list">
        <div class="card-panel z-depth-1 profile-col-box pd-15" *ngFor="let leadDetails of leadsListing">
          <div class="row bot-0" *ngIf="!ShowHideNewLead">
              <h3>{{ leadDetails.req_name }} {{ leadDetails.req_last_name }}</h3>
              <span class="" *ngIf="leadDetails?.rep_max_budget && leadDetails?.rep_min_budget">{{leadDetails?.rep_min_budget }} to {{leadDetails?.rep_max_budget }}</span>
              <span *ngIf="leadDetails?.rep_product_location">{{leadDetails?.rep_product_location}}</span> 
              <p *ngFor="let event of leadDetails.event_list">
                {{ event.event_type | titlecase }}
                <span><i class="mdi mdi-circle" style="color: var(--primary-color);font-size: 8px;margin-right: 3px;vertical-align: middle;"></i>{{event.event_date}}</span>
              </p>
              <div class="ion-text-center">
                <ion-button (click)="gotoLeadDetailsEdit(leadDetails)" shape="round">View Details</ion-button>
              </div>
              <div class="activity-card d-flex">
                <div class="follow-up" (click)="gotoScheduleEvent(leadDetails)">
                  <label><i class="icon-calender"></i></label>
                </div>
                <a *ngIf="leadDetails.req_phone?.slice(0,3) !== '+91'" class="follow-up" href="tel:+91{{leadDetails.req_phone}}">
                  <label><i class="icon-phone"></i></label>
                </a>
                <a *ngIf="leadDetails.req_phone?.slice(0,3) === '+91'" class="follow-up" href="tel:{{leadDetails.req_phone}}">
                  <label><i class="icon-phone"></i></label>
                </a>
                <a *ngIf="leadDetails.req_phone?.slice(0,3) !== '+91'" class="follow-up" href="https://wa.me/+91{{leadDetails.req_phone}}?text=Hello">
                  <label><i class="mdi mdi-whatsapp"></i></label>
                </a>
                <a *ngIf="leadDetails.req_phone?.slice(0,3) === '+91'" class="follow-up" href="https://wa.me/{{leadDetails.req_phone}}?text=Hello">
                  <label><i class="mdi mdi-whatsapp"></i></label>
                </a>
              </div>
              
          </div>
          <div class="row bot-0" *ngIf="ShowHideNewLead">
            <h3>{{ leadDetails.user_first_name }} {{ leadDetails.user_last_name }}</h3>
            <span class="" *ngIf="leadDetails.min_budget">{{leadDetails?.min_budget }} to {{leadDetails?.max_budget }}</span>
            <span class="" *ngIf="leadDetails?.user_email"><strong>Email:&nbsp;</strong>{{leadDetails?.user_email }}</span>
            <span class="" *ngIf="leadDetails?.user_phone"><strong>Phone:&nbsp;</strong>{{leadDetails?.user_phone }}</span>
            <span class="" *ngIf="leadDetails?.user_address"><strong>Address:&nbsp;</strong>{{leadDetails?.user_address }}</span>
            <span class="" *ngIf="leadDetails?.user_state"><strong>State:&nbsp;</strong>{{leadDetails?.user_state }}</span>
            <span class="" *ngIf="leadDetails?.user_city"><strong>City:&nbsp;</strong>{{leadDetails?.user_city }}</span>
            <span class="" *ngIf="leadDetails?.user_pincode"><strong>Pin Code:&nbsp;</strong>{{leadDetails?.user_pincode }}</span>
            <span class="" *ngIf="leadDetails?.data_source"><strong>Data Source:&nbsp;</strong>{{leadDetails?.data_source }}</span>
            <span class="" *ngIf="leadDetails?.unit_type"><strong>Unit Type:&nbsp;</strong>{{leadDetails?.unit_type }}</span>
            <span class="" *ngIf="leadDetails?.unit_sub_type"><strong>Unit Sub-Type:&nbsp;</strong>{{leadDetails?.unit_sub_type }}</span>
            <span class="" *ngIf="leadDetails?.property_status"><strong>Property Status:&nbsp;</strong>{{leadDetails?.property_status }}</span>
            <span class="" *ngIf="leadDetails?.user_created"><strong>Created at:&nbsp;</strong>{{leadDetails?.user_created }}</span>
            <p *ngFor="let event of leadDetails.event_list">
              {{ event.event_type | titlecase }}
              <span><i class="mdi mdi-circle" style="color: var(--primary-color);font-size: 8px;margin-right: 3px;vertical-align: middle;"></i>{{event.event_date}}</span>
            </p>
            <div class="ion-text-center">
              <ion-button (click)="gotoEditDetails(leadDetails)" shape="round">View Lead</ion-button>
            </div>
            <div class="activity-card d-flex">
              <div class="follow-up" (click)="gotoScheduleEvent(leadDetails)">
                <label><i class="icon-calender"></i></label>
              </div>
              <a *ngIf="leadDetails.user_phone?.slice(0,3) !== '+91'" class="follow-up" href="tel:+91{{leadDetails.user_phone}}">
                <label><i class="icon-phone"></i></label>
              </a>
              <a *ngIf="leadDetails.user_phone?.slice(0,3) === '+91'" class="follow-up" href="tel:{{leadDetails.user_phone}}">
                <label><i class="icon-phone"></i></label>
              </a>
              <a *ngIf="leadDetails.user_phone?.slice(0,3) !== '+91'" class="follow-up" href="https://wa.me/+91{{leadDetails.user_phone}}?text=Hello">
                <label><i class="mdi mdi-whatsapp"></i></label>
              </a>
              <a *ngIf="leadDetails.user_phone?.slice(0,3) === '+91'" class="follow-up" href="https://wa.me/{{leadDetails.user_phone}}?text=Hello">
                <label><i class="mdi mdi-whatsapp"></i></label>
              </a>
            </div>
            
        </div>
        </div>

        <!-- <div class="card-panel z-depth-1 profile-col-box pd-15">
          <div class="row valign-wrapper bot-0">
            <div class="col">
              <h3>Arun Awasthi</h3>
              <span class="">25 Lac to 50 Lac - Gurugram, Harayana</span>
              <p style="color: red;">No Event Scheduled</p>
            </div>
          </div>
        </div> -->

        <div class="card-panel z-depth-1 profile-col-box pd-15" *ngIf="leadsDataLoading || (!leadsDataLoading && !leadsListing?.length)">
          <div class="row valign-wrapper bot-0 center">
            <div class="col ion-text-center">
              <ion-spinner *ngIf="leadsDataLoading" class="ion-text-center"></ion-spinner>
              <h3 *ngIf="!leadsDataLoading && !leadsListing?.length">No Result Found!</h3>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
