.edit-customer-page{
    background-color: #efefef;
    padding-top: 80px;
    padding-bottom: 50px;
}
.text-style{
    border: 1px solid var(--primary-color) !important;
    margin: 0;
    height: auto;
    min-height: 170px;
    border-radius: 5px;
    padding: 8px;
}
.border-bottom{
    border-bottom: 1px solid var(--primary-color) !important;
}