.slider-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;

}
.welcome-logo.index-welcome, .start-btn {
    z-index: 100;
}
.slider-content {
    position: relative;
    padding-top: 250px;
}
.bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
}
swiper-container{
    height: 100%;
}
.welcome-bg{
    background: #efefef;
    border-radius: 10px;  
}