<ion-content [fullscreen]="true">
  <div class="content-area login-page primary-bg">
    <h1 class="white-text center welcome-logo index-welcome"><img src="assets/images/logo/aryan-logo.png"></h1>
    <div class="access-login"></div>
    <div class="container login-area">
      <div class="section">
        <h3 class="bot-20 center white-text">Forgot Your Password</h3>
        <div class="row">
          <div class="input-field col s12">
            <i class="mdi mdi-email-outline prefix"></i>
            <input id="email311" type="email" class="validate col s12 waves-light">
            <label for="email311">Email ID</label>
          </div>
        </div>
        <div class="row center">
          <div class="input-field">
            <a class="waves-effect col s12 waves-light btn-large bg-white">Get Password</a>
          </div>
          <div class="spacer"></div>
          <div class="links">
            <a routerLink="/login">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>